.navbar {
  background: teal;
  border-bottom: none;
  /* padding: 30px 0; */
  transition-duration: 0.6s;
  display: inherit;
}
.navbar-header {
  display: inline-block;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: rgb(199, 249, 255);
}
.navbar-default .navbar-brand {
  font-size: 3rem;
  transition-duration: 0.6s;
  font-weight: 100;
  margin: auto;
  text-decoration: none;
}

.navbar-default ul {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.navbar-default li {
  transition-duration: 0.6s;
  text-decoration: none;
}

.navbar-default ul > hr {
  display: inline-block;
  height: 1.2em;
  text-align: center;
  border: 0.5px solid whitesmoke;
}

/* jQuery Styles
===================================*/
.navbar-scroll {
  background: teal;
  padding: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .navbar-brand {
  font-size: 0.5rem;
  transition-duration: 0.6s;
}
.navbar-scroll ul {
  font-size: 1.5rem;
}
.navbar-scroll li {
  padding: 0 5rem;
  transition-duration: 0.6s;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
